ClientOfProject/ClientOfProject/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfOfProject/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="GetAllFlavors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlavorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllFlavorsResult" nillable="true" type="q1:ArrayOfFlavorsIiceCream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecielDessert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecielDessertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetSpecielDessertResult" nillable="true" type="q2:ArrayOfSpecialDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="c" nillable="true" type="q3:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllAdditionsResult" nillable="true" type="q4:ArrayOfAdditionAccordingCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAdditionsResult" nillable="true" type="q5:ArrayOfAdditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllCategoryResult" nillable="true" type="q6:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificationAdditionsDesserts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificationAdditionsDessertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetSpecificationAdditionsDessertsResult" nillable="true" type="q7:ArrayOfSpecificationAdditionsDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionAccordingCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionAccordingCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAdditionAccordingCategoriesResult" nillable="true" type="q8:ArrayOfAdditionAccordingCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToAddition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToAdditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeToAdditionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToFlavors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToFlavorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeToFlavorsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToMutzar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToMutzarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeToMutzarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeToClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToDettalingDessert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeToDettalingDessertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeToDettalingDessertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdditionAcordingCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ad" nillable="true" type="q9:AdditionAccordingCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdditionAcordingCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="a" nillable="true" type="q10:Additions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAditionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="c" nillable="true" type="q11:Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Addspecialdessert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="s" nillable="true" type="q12:SpecialDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddspecialdessertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddspecialdessertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConstantConstricted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="con" nillable="true" type="q13:ConstantConstricted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConstantConstrictedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConstantConstrictedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlavorIceCream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="fla" nillable="true" type="q14:FlavorsIiceCream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlavorIceCreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFlavorIceCreamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPurches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="pr" nillable="true" type="q15:Purchases" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPurchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPurchesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecificationAdditionsDessert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="sad" nillable="true" type="q16:SpecificationAdditionsDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecificationAdditionsDessertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpecificationAdditionsDessertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adddetailing_scoop_of_ice_cream_dessert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ds" nillable="true" type="q17:DsetailingScoopOfIceCreamDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adddetailing_scoop_of_ice_cream_dessertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Adddetailing_scoop_of_ice_cream_dessertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDettalingDessertImPurches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="d" nillable="true" type="q18:DetailingDessertInPurchase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDettalingDessertImPurchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDettalingDessertImPurchesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DellAdditionAcordingCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ad" nillable="true" type="q19:AdditionAccordingCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DellAdditionAcordingCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DellAdditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="a" nillable="true" type="q20:Additions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DellAdditionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DellFlavorIceCream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="fla" nillable="true" type="q21:FlavorsIiceCream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DellFlavorIceCreamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DellSpecialDessert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="s" nillable="true" type="q22:SpecialDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DellSpecialDessertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateAdditionAccordingCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ad" nillable="true" type="q23:AdditionAccordingCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateAdditionAccordingCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateAdditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="a" nillable="true" type="q24:Additions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateAdditionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="c" nillable="true" type="q25:Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateClientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateConstantConstricted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="con" nillable="true" type="q26:ConstantConstricted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateConstantConstrictedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateConstrictedIinPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="copu" nillable="true" type="q27:ConstrictedIinPurchase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateConstrictedIinPurchaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateDsetailingScoopOfIceCreamDessert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="dscoop" nillable="true" type="q28:DsetailingScoopOfIceCreamDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateDsetailingScoopOfIceCreamDessertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateDetailingDessertInPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="dtdessert" nillable="true" type="q29:DetailingDessertInPurchase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateDetailingDessertInPurchaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateFlavorsIiceCream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="fla" nillable="true" type="q30:FlavorsIiceCream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateFlavorsIiceCreamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDatePurchases">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q31:Purchases" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDatePurchasesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateSpecialDessert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="sp" nillable="true" type="q32:SpecialDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateSpecialDessertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>